/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #root {
  width: 100%;
}

.main {
  width: 100%;
  height: 100vh;
}

.border-bottom {
  border-bottom: 1px solid #ddd;
}

.container {
  padding: 0 40px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.container-wide {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

select {
  appearance: none;
  background: #EFEFEF;
  border: none;
  padding: 1.5rem;
  border-radius: 2.5rem;
}

.heading {
  margin: 2em 0;
}

.calendertable .fc-header-toolbar {
  justify-content: flex-end !important;
}
.calendertable .fc-header-toolbar .fc-toolbar-title{
  font-size: 13px !important;
  line-height: 18px !important;
  font-weight: 600 !important;
  display: inline-block;
}
.calendertable .fc-header-toolbar .fc-addPost-button{
  border: 1px solid #214aa1;
  background-color: #214aa1;
  color: #fff;
  font-size: 12px;
  text-transform: capitalize;
  height: 34px;
  padding: 0 18px;
  margin-left: 15px;
  border-radius: 5px !important;
}
.calendertable .fc-header-toolbar .fc-addPost-button:hover{
  background-color: transparent;
  color: #214aa1;
}
.calendertable .fc-header-toolbar .fc-prev-button{
  border: 1px solid #214aa1;
  background: transparent;
  color: #000;
  min-width: 42px;
  min-height: auto;
  height: 32px;
  border-radius: 5px 0 0 5px;
}
.calendertable .fc-header-toolbar .fc-prev-button:hover{
  background-color: #214aa1;
  color: #fff;
}
.calendertable .fc-header-toolbar .fc-next-button{
  border: 1px solid #2c2bdd;
  background: transparent;
  color: #000;
  min-width: 40px;
  min-height: auto;
  height: 32px;
  border-radius: 0 5px 5px 0;
  margin-left: 0 !important;
  border-left: 0;
}
.calendertable .fc-header-toolbar .fc-next-button:hover{
  background-color: #214aa1;
  color: #fff;
}
.calendertable .fc-v-event {
  background: #ddd;
  border-color: #ccc;
  padding: 6px;
  border-radius: 6px;
}
.calendertable .fc-v-event .fc-event-main-frame{
  flex-direction: column-reverse !important;
}
.calendertable .fc-v-event .fc-event-time{
  color: #214aa1;
    font-size: 10px;
    font-weight: 600;
}
.calendertable .fc-v-event .fc-event-title{
  color: #000;
  font-size: 10px;
  font-weight: 600;
}
.scrollTemplate{
  overflow-y: scroll;
  height: 100vh;
  &--withoutHead {
    height: calc(100vh - 66px);
  }
}

.menuIcons {
  display: flex;
  align-items: center;
}
.mobileMenuToggle {
  position: relative;
  width: 32px;
  margin-left: 5px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  min-width: 0;
  transition: all 0.2s ease;
  &::after,
  &::before {
    content: '';
    display: block;
    height: 4px;
    width: 32px;
    background-color: #3a6689;
    border-radius: 25px;
    transform: rotate(0deg);
    transition: all 0.2s ease;
    transform-origin: right;
  }
  span {
    height: 4px;
    width: 27px;
    background-color: #3a6689;
    border-radius: 25px;
    margin: 6px 0;
    transition: all 0.2s ease;
    display: block !important;
  }
}
.activeMobileMenu {
  .mobileMenuToggle {
    span {
      width: 0;
    }
    &::after {
      transform: rotate(39deg);
    }
    &::before {
      transform: rotate(-39deg);
    }
  }
}
.d-lg-none{
  display: none !important;
}

.AskMoreModelBox .MuiInput-underline::after,
.AskMoreModelBox .MuiInput-underline::before {
  display: none !important;
}
.AskMoreModelBox .MuiChip-root {
  height: 19px;
  margin: 2px;
  background: transparent;
  border: 1px solid #ddd;
}
.AskMoreModelBox .MuiAutocomplete-endAdornment {
  top: -11px;
    right: -15px;
}
.AskMoreModelBox .MuiAutocomplete-endAdornment  button:first-child {
  display: none;
}
.AskMoreModelBox .MuiChip-root svg {
  width: 16px;
  height: 16px;
}
.AskMoreModelBox .MuiDialogContent-root {
  padding: 0 !important;
  overflow: hidden;
}
.menuBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    margin: 0 3px;
  }
}

@media only screen and (min-width: 1344px) {
  .container {
    width: 1344px;
  }
}
@media only screen and (max-width: 768px) {
  .d-lg-none {
    display: flex !important;
  }
  .menuBlock {
    position: absolute;
    left: 0;
    right: 0;
    background: #fff;
    top: 66px;
    border-top: 1px solid #ddd;
    height: 0;
    z-index: 30;
    overflow: hidden;    
    transition: all 0.5s ease;
    display: block;
    ul{
      display: block;
      padding: 15px;
    }
    div{
      padding: 8px 20px;
    }
  }
  .activeMobileMenu { 
    .menuBlock {
      height: auto;
    }
  }
}

