.white {
  color: white;
}

.grey {
  color: grey;
}

$color_1: rgb(113, 116, 119);
$color_2: black;
$color_3: #dc85ff;
$color_4: #585858;
$color_5: #303030;
$color_6: #e05d8d;
$color_7: #2f32a4;
$background_color_1: #ffd6da;
